:root{

    /* --color-primary:hsl(200, 25%, 21%); */
    --color-primary:rgb(30, 65, 77);
    --color-secondary:rgb(34, 81, 98);
   
    --bg-img:url('./asset/images/backgroundImg.jpg');
}
@font-face {
    font-family: 'montserrat-regular';
    src: url('./asset/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'montserrat-semi-bold';
    src: url('./asset/Montserrat/Montserrat-SemiBold.ttf');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#root {
    min-width: 374px;
    /* background-color: rgb(243, 241, 241); */
    /* background: linear-gradient(to left, rgb(40, 58, 67), rgb(40, 58, 67)); */
    background-image: var(--bg-img);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    min-height: 100vh;  
    /* min-height: 100svh;   */
    position: relative;
}

.error {
    font-size: 10px;
    color: red;
    margin: 0;
    display: block;
}

.background {
    background-color: black;
    opacity: .5;
}

.background-container {
    min-height: calc(100vh - 100px);   
    padding-bottom: 3rem
}
footer{
    background-color: var(--color-primary);
}
.register, .login {
    font-family: 'montserrat-semi-bold';
}

.register label ,.login label{
    font-size: 12px;
}


.swal2-icon {
    margin: 1.2em auto !important;
}

.swal2-html-container {
    margin: .5em 1em 0.3em !important;

    font-size: 1rem !important;
}

.swal2-styled {
    margin-top: 0px !important;
    padding: .3rem 2rem !important;
}

.swal2-toast{

    background-color: white !important;
    border: 1px solid var(--color-primary)!important;
    color: var(--color-primary) !important;
}
.swal2-popup.swal2-toast .swal2-title{
    /* color: whitesmoke !important; */
}
.swal2-title{
    font-size: 1.3rem !important;
}

